@model BasicWebSite.Models.RemoteAttributeUser
@{
    Layout = "/Areas/Aria/Views/RemoteAttribute_Home/_Layout.cshtml";
    ViewBag.Title = "Details in Aria area.";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Person</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId1)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId2)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId3)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId4)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Create a new one", "Create") | @Html.RouteLink("Go to Aria home", "AriaHome")
</p>